<%= form.fields_for :trait_set do |trait_set_fields| %>
  <div id="action-traits">
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:initiative, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Initiative" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:speed, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Speed" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:current_actions, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Current Actions" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:max_actions, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Max Actions" } %>
  </div>
  <div id="hit-die-traits">
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.text_field(:hit_die, placeholder: "1d6", class: "border-b-1 max-w-20 text-center text-4xl"), label: "Hit Die" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:current_hit_dice, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Current Hit Dice" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:max_hit_dice, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Max Hit Dice" } %>
  </div>
  <div id="health-traits">
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:armor, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Armor" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:temp_hp, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Temp HP" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:current_hp, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Current HP" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:max_hp, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Max HP" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:current_wounds, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Current Wounds" } %>
  <%= render partial: "attributes/trait", locals: { field: trait_set_fields.number_field(:max_wounds, placeholder: 0, class: "border-b-1 max-w-20 text-center text-4xl"), label: "Max Wounds" } %>
  </div>
<% end %>
