<div id="<%= dom_id character %>">
  <p>
    <strong>Name:</strong>
    <%= character.name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= character.race %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= character.level %>
  </p>

  <p>
    <strong>Background:</strong>
    <%= character.background %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= character.description %>
  </p>

  <p>
    <strong>Languages:</strong>
    <%= character.languages %>
  </p>

  <p>
    <strong>Proficiencies:</strong>
    <%= character.proficiencies %>
  </p>

</div>
