<div id="<%= dom_id character %>" class="w-full flex flex-col border-2 border-primary rounded-sm">
  <div class="flex flex-row items-center border-b border-primary/50">
    <label for="name" class="uppercase font-sans font-[400] text-primary tracking-tighter leading-none px-2 pt-0.5 whitespace-nowrap h-full">
      Character Name
    </label>
    <%= character.name %>
  </div>
  
  <div class="flex flex-row items-center border-b border-primary/50">
    <label for="race" class="uppercase font-sans font-[400] text-primary tracking-tighter leading-none px-2 pt-0.5 whitespace-nowrap h-full">
      Race
    </label>
    <%= character.race %>
  </div>

  <div class="flex flex-row items-center border-b border-primary/50">
    <label for="level" class="uppercase font-sans font-[400] text-primary tracking-tighter leading-none px-2 pt-0.5 whitespace-nowrap h-full">
      Level
    </label>
    <%= character.level %>
  </div>

  <div class="flex flex-row items-center border-b border-primary/50">
    <label for="background" class="uppercase font-sans font-[400] text-primary tracking-tighter leading-none px-2 pt-0.5 whitespace-nowrap h-full">
      Background
    </label>
    <%= character.background %>
  </div>

  <div class="flex flex-row items-center border-b border-primary/50">
    <label for="description" class="uppercase font-sans font-[400] text-primary tracking-tighter leading-none px-2 pt-0.5 whitespace-nowrap h-full">
      Description
    </label>
    <%= character.description %>
  </div>

  <div class="flex flex-row items-center border-b border-primary/50">
    <label for="languages" class="uppercase font-sans font-[400] text-primary tracking-tighter leading-none px-2 pt-0.5 whitespace-nowrap h-full">
      Languages
    </label>
    <%= character.languages %>
  </div>

  <div class="flex flex-row items-center border-b border-primary/50">
    <label for="proficencies" class="uppercase font-sans font-[400] text-primary tracking-tighter leading-none px-2 pt-0.5 whitespace-nowrap h-full">
      Proficiencies
    </label>
    <%= character.proficiencies %>
  </div>
</div>
