<div id="<%= dom_id character %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= character.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Race:</strong>
    <%= character.race %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Nimble class:</strong>
    <%= character.nimble_class %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Level:</strong>
    <%= character.level %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Background:</strong>
    <%= character.background %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= character.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Languages:</strong>
    <%= character.languages %>
  </div>
</div>
