<div id="<%= dom_id character %>" class="max-w-235 sm:w-auto my-5 space-y-5 ">

  <div id="character-summary" class="flex gap-5 border-1 p-2">
    <div class="min-w-50">
      <div class=" border-b-1 min-h-6">
        <%= character.name %>
      </div>
      <p class="text-gray-500 text-xs">Name</p>
    </div>
    <div class="min-w-50">
      <div class=" border-b-1 min-h-6">
        <%= character.race %>
      </div>
      <p class="text-gray-500 text-xs">Race</p>
    </div>
    <div class="min-w-25">
      <div class=" border-b-1 min-h-6">
        <%= character.nimble_class %>
      </div>
      <p class="text-gray-500 text-xs">Class</p>
    </div>
    <div class="min-w-10">
      <div class=" border-b-1 min-h-6">
        <%= character.level %>
      </div>
      <p class="text-gray-500 text-xs">Level</p>
    </div>
    <div class="min-w-75">
      <div class=" border-b-1 min-h-6">
        <%= character.background %>
      </div>
      <p class="text-gray-500 text-xs">Background</p>
    </div>
  </div>

  <div id="character-info" class="border-1 p-2">
    <div class="">
      <div class=" border-b-1 min-h-24">
        <%= character.description %>
      </div>
      <p class="text-gray-500 text-xs">Description</p>
    </div>
    <div class="">
      <div class="border-b-1 min-h-6">
        <%= character.languages %>
      </div>
      <p class="text-gray-500 text-xs">Languages</p>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center gap-5 border-1 p-2">
    <div class="flex gap-20">
      <% character.stats.each do |stat| %>
        <%= render 'attributes/stat', stat: stat %>
      <% end %>
    </div>
    <div class="flex gap-5">
      <% character.skills.each do |skill| %>
        <%= render 'attributes/skill', skill: skill %>
      <% end %>
    </div>
  </div>
</div>

