<%= form_with(model: character, class: "contents") do |form| %>
  <% if character.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul class="list-disc ml-6">
        <% character.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="flex flex-col gap-2 my-5 max-w-235">
    <div id="character-summary" class="flex gap-5 border-1 p-2">
      <div class="min-w-50">
          <%= form.text_field :name, disabled: read_only, placeholder: "Enter Name", class: ["w-full border-b-1", {"border-gray-400 focus:outline-blue-600": character.errors[:name].none?, "border-red-400 focus:outline-red-600": character.errors[:name].any?}] %>
        <p class="text-gray-500 text-xs">Name</p>
      </div>
      <div class="min-w-50">
          <%= form.text_field :race, disabled: read_only, placeholder: "Enter Race", class: ["w-full border-b-1", {"border-gray-400 focus:outline-blue-600": character.errors[:race].none?, "border-red-400 focus:outline-red-600": character.errors[:race].any?}] %>
        <p class="text-gray-500 text-xs">Race</p>
      </div>
      <div class="min-w-25">
          <%= form.text_field :nimble_class, disabled: read_only, placeholder: "Enter Class", class: ["w-full border-b-1", {"border-gray-400 focus:outline-blue-600": character.errors[:nimble_class].none?, "border-red-400 focus:outline-red-600": character.errors[:nimble_class].any?}] %>
        <p class="text-gray-500 text-xs">Class</p>
      </div>
      <div class="min-w-10">
        <%= form.number_field :level, disabled: read_only, placeholder: "Enter Level", class: ["w-full border-b-1", {"border-gray-400 focus:outline-blue-600": character.errors[:level].none?, "border-red-400 focus:outline-red-600": character.errors[:level].any?}] %>
        <p class="text-gray-500 text-xs">Level</p>
      </div>
      <div class="min-w-75">
          <%= form.text_field :background, disabled: read_only, placeholder: "Enter Background", class: ["w-full border-b-1", {"border-gray-400 focus:outline-blue-600": character.errors[:background].none?, "border-red-400 focus:outline-red-600": character.errors[:background].any?}] %>
        <p class="text-gray-500 text-xs">Background</p>
      </div>
    </div>
    <div id="character-info" class="border-1 p-2">
      <div class="">
        <%= form.textarea :description, disabled: read_only, rows: 4, placeholder: "Enter Description", class: ["w-full border-b-1", {"border-gray-400 focus:outline-blue-600": character.errors[:description].none?, "border-red-400 focus:outline-red-600": character.errors[:description].any?}] %>
        <p class="text-gray-500 text-xs">Description</p>
      </div>
      <div class="">
        <%= form.text_field :languages, disabled: read_only, placeholder: "Enter Languages", class: [" w-full border-b-1", {"border-gray-400 focus:outline-blue-600": character.errors[:languages].none?, "border-red-400 focus:outline-red-600": character.errors[:languages].any?}] %>
        <p class="text-gray-500 text-xs">Languages</p>
      </div>
    </div>
    <div id="character-stats-and-skills" class="flex flex-col justify-center items-center gap-5 border-1 p-2"">
      <%= render partial: 'attributes/stats_and_skills', locals: { form: form, read_only: read_only } %>
    </div>
    <div id="character-trait-set" class="flex flex-wrap justify-center items-center gap-5 border-1 p-2">
        <%= render partial: 'attributes/trait_set', locals: {form: form, read_only: read_only} %>
    </div>

    <div id="character-spells" class="border-1 p-2">
      <% if not read_only %>
        <%= form.collection_check_boxes :spell_ids, Spell.order(:tier), :id, :name do |cb| %>
          <label class="inline-flex items-center gap-2 py-1">
            <%= cb.check_box class: "rounded" %>
            <span class="<%= color_from_spell_school(cb.object.school)%>"><%=cb.object.name %></span>
          </label>
        <% end %>
      <% else %>
       <% character.spells.each do |spell| %> 
        <span class="<%= color_from_spell_school(spell.school)%>"><%=spell.name %></span>
       <% end %>
      <% end %>
    </div>
  </div>

  <% unless read_only %>
    <div class="inline">
      <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>
<% end %>

